-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: localhost    Database: agromano
-- ------------------------------------------------------
-- Server version	9.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `moh_trabajador_historial`
--

DROP TABLE IF EXISTS `moh_trabajador_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moh_trabajador_historial` (
  `historial_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `cambio_tipo` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `datos_previos` text COLLATE utf8mb4_unicode_ci,
  `datos_nuevos` text COLLATE utf8mb4_unicode_ci,
  `usuario_accion` int DEFAULT NULL,
  `fecha_accion_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`historial_id`),
  KEY `FK_MOH_TRABAJADOR_HISTORIAL_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOH_TRABAJADOR_HISTORIAL_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moh_trabajador_historial`
--

LOCK TABLES `moh_trabajador_historial` WRITE;
/*!40000 ALTER TABLE `moh_trabajador_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `moh_trabajador_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mol_audit_log`
--

DROP TABLE IF EXISTS `mol_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mol_audit_log` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `entidad` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entidad_id` int DEFAULT NULL,
  `accion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `datos_antes` text COLLATE utf8mb4_unicode_ci,
  `datos_despues` text COLLATE utf8mb4_unicode_ci,
  `usuario_id` int DEFAULT NULL,
  `fecha_at` datetime NOT NULL,
  `ip_origen` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mol_audit_log`
--

LOCK TABLES `mol_audit_log` WRITE;
/*!40000 ALTER TABLE `mol_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `mol_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_bonificacion`
--

DROP TABLE IF EXISTS `mom_bonificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_bonificacion` (
  `bonificacion_id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monto_fijo` decimal(13,2) DEFAULT NULL,
  `porcentaje` decimal(7,4) DEFAULT NULL,
  `base_calculo` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condiciones_aplicacion` text COLLATE utf8mb4_unicode_ci,
  `limite_maximo` decimal(13,2) DEFAULT NULL,
  `limite_minimo` decimal(13,2) DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activa',
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`bonificacion_id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_bonificacion`
--

LOCK TABLES `mom_bonificacion` WRITE;
/*!40000 ALTER TABLE `mom_bonificacion` DISABLE KEYS */;
INSERT INTO `mom_bonificacion` VALUES (1,'BON_PUNTUAL','Bonificaci├│n por Puntualidad','Bonificaci├│n por asistencia perfecta','fija',50.00,NULL,NULL,'Asistencia perfecta durante el mes',NULL,NULL,'activa',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(2,'BON_RENDIM','Bonificaci├│n por Alto Rendimiento','Bonificaci├│n por superar metas de producci├│n','porcentaje',NULL,10.0000,'salario_base','Rendimiento 20% superior al est├índar',NULL,NULL,'activa',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `mom_bonificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_cuadrilla`
--

DROP TABLE IF EXISTS `mom_cuadrilla`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_cuadrilla` (
  `cuadrilla_id` int NOT NULL AUTO_INCREMENT,
  `codigo_identificador` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `area_trabajo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_creacion_at` datetime NOT NULL,
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`cuadrilla_id`),
  UNIQUE KEY `codigo_identificador` (`codigo_identificador`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_cuadrilla`
--

LOCK TABLES `mom_cuadrilla` WRITE;
/*!40000 ALTER TABLE `mom_cuadrilla` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_cuadrilla` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_cultivo`
--

DROP TABLE IF EXISTS `mom_cultivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_cultivo` (
  `cultivo_id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `unidad_medida_principal` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `temporada_tipica` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imagen_path` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`cultivo_id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_cultivo`
--

LOCK TABLES `mom_cultivo` WRITE;
/*!40000 ALTER TABLE `mom_cultivo` DISABLE KEYS */;
INSERT INTO `mom_cultivo` VALUES (1,'Ma├¡z','Cultivo de ma├¡z amarillo','kilogramos','Primavera-Verano',NULL,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(2,'Frijol','Cultivo de frijol negro','kilogramos','Verano-Oto├▒o',NULL,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(3,'Tomate','Cultivo de tomate cherry','kilogramos','Todo el a├▒o',NULL,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `mom_cultivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_deduccion_especial_tipo`
--

DROP TABLE IF EXISTS `mom_deduccion_especial_tipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_deduccion_especial_tipo` (
  `deduccion_tipo_id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`deduccion_tipo_id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_deduccion_especial_tipo`
--

LOCK TABLES `mom_deduccion_especial_tipo` WRITE;
/*!40000 ALTER TABLE `mom_deduccion_especial_tipo` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_deduccion_especial_tipo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_esquema_pago`
--

DROP TABLE IF EXISTS `mom_esquema_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_esquema_pago` (
  `esquema_id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `fecha_creacion_at` datetime NOT NULL,
  `fecha_vigencia_inicio_at` datetime DEFAULT NULL,
  `fecha_vigencia_fin_at` datetime DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`esquema_id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_esquema_pago`
--

LOCK TABLES `mom_esquema_pago` WRITE;
/*!40000 ALTER TABLE `mom_esquema_pago` DISABLE KEYS */;
INSERT INTO `mom_esquema_pago` VALUES (1,'PAGO_HORA','Pago por Hora','hora','Pago basado en horas trabajadas','2025-12-21 22:10:50',NULL,NULL,'activo',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(2,'PAGO_RENDIM','Pago por Rendimiento','rendimiento','Pago basado en producci├│n','2025-12-21 22:10:50',NULL,NULL,'activo',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(3,'PAGO_MIXTO','Pago Mixto','mixto','Combinaci├│n de pago por hora y rendimiento','2025-12-21 22:10:50',NULL,NULL,'activo',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `mom_esquema_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_formula_pago`
--

DROP TABLE IF EXISTS `mom_formula_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_formula_pago` (
  `formula_id` int NOT NULL AUTO_INCREMENT,
  `esquema_id` int NOT NULL,
  `formula` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `variables_utilizadas` text COLLATE utf8mb4_unicode_ci,
  `ejemplo_calculo` text COLLATE utf8mb4_unicode_ci,
  `fecha_creacion_at` datetime NOT NULL,
  `usuario_creacion` int NOT NULL,
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`formula_id`),
  KEY `FK_MOM_FORMULA_PAGO_RELATION_MOM_ESQUEMA_PAGO` (`esquema_id`),
  CONSTRAINT `FK_MOM_FORMULA_PAGO_RELATION_MOM_ESQUEMA_PAGO` FOREIGN KEY (`esquema_id`) REFERENCES `mom_esquema_pago` (`esquema_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_formula_pago`
--

LOCK TABLES `mom_formula_pago` WRITE;
/*!40000 ALTER TABLE `mom_formula_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_formula_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_parcela`
--

DROP TABLE IF EXISTS `mom_parcela`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_parcela` (
  `parcela_id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ubicacion_descripcion` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `area_hectareas` decimal(10,2) DEFAULT NULL,
  `tipo_terreno` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disponible',
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`parcela_id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_parcela`
--

LOCK TABLES `mom_parcela` WRITE;
/*!40000 ALTER TABLE `mom_parcela` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_parcela` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_periodo_nomina`
--

DROP TABLE IF EXISTS `mom_periodo_nomina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_periodo_nomina` (
  `periodo_id` int NOT NULL AUTO_INCREMENT,
  `codigo_identificador` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_inicio_at` datetime NOT NULL,
  `fecha_fin_at` datetime NOT NULL,
  `tipo_nomina` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'regular',
  `alcance` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'iniciado',
  `fecha_creacion_at` datetime NOT NULL,
  `usuario_creacion` int NOT NULL,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`periodo_id`),
  UNIQUE KEY `codigo_identificador` (`codigo_identificador`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_periodo_nomina`
--

LOCK TABLES `mom_periodo_nomina` WRITE;
/*!40000 ALTER TABLE `mom_periodo_nomina` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_periodo_nomina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_permiso`
--

DROP TABLE IF EXISTS `mom_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_permiso` (
  `permiso_id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`permiso_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_permiso`
--

LOCK TABLES `mom_permiso` WRITE;
/*!40000 ALTER TABLE `mom_permiso` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_rol`
--

DROP TABLE IF EXISTS `mom_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_rol` (
  `rol_id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `fecha_creacion_at` datetime NOT NULL,
  `is_critico` tinyint(1) NOT NULL DEFAULT '0',
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`rol_id`),
  UNIQUE KEY `codigo` (`codigo`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_rol`
--

LOCK TABLES `mom_rol` WRITE;
/*!40000 ALTER TABLE `mom_rol` DISABLE KEYS */;
INSERT INTO `mom_rol` VALUES (1,'ADMIN','Administrador','Rol con todos los permisos del sistema','2025-12-21 22:10:50',0,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(2,'SUPER','Supervisor','Rol de supervisor de campo','2025-12-21 22:10:50',0,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(3,'TRABAJ','Trabajador','Rol de trabajador agr├¡cola','2025-12-21 22:10:50',0,1,'2025-12-21 22:10:50',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `mom_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_tarea`
--

DROP TABLE IF EXISTS `mom_tarea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_tarea` (
  `tarea_id` int NOT NULL AUTO_INCREMENT,
  `cultivo_id` int NOT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `unidad_medicion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rendimiento_estandar` decimal(10,4) DEFAULT NULL,
  `instrucciones` text COLLATE utf8mb4_unicode_ci,
  `niveles_dificultad` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`tarea_id`),
  KEY `FK_MOM_TAREA_RELATION_MOM_CULTIVO` (`cultivo_id`),
  CONSTRAINT `FK_MOM_TAREA_RELATION_MOM_CULTIVO` FOREIGN KEY (`cultivo_id`) REFERENCES `mom_cultivo` (`cultivo_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_tarea`
--

LOCK TABLES `mom_tarea` WRITE;
/*!40000 ALTER TABLE `mom_tarea` DISABLE KEYS */;
INSERT INTO `mom_tarea` VALUES (1,1,'Siembra de ma├¡z','Siembra manual de semillas de ma├¡z','hect├íreas',0.5000,'Sembrar a 5cm de profundidad con 50cm de separaci├│n','Media',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(2,2,'Cosecha de frijol','Recolecci├│n manual de frijol','kilogramos',20.0000,'Cosechar cuando las vainas est├®n secas','Baja',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL),(3,3,'Riego de tomate','Riego por goteo de plantas de tomate','plantas',100.0000,'Regar cada 2 d├¡as por la ma├▒ana','Baja',1,'2025-12-21 22:10:50',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `mom_tarea` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mom_trabajador`
--

DROP TABLE IF EXISTS `mom_trabajador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mom_trabajador` (
  `trabajador_id` int NOT NULL AUTO_INCREMENT,
  `documento_identidad` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_completo` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_activo` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_registro_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`trabajador_id`),
  UNIQUE KEY `documento_identidad` (`documento_identidad`),
  KEY `idx_mom_trabajador_documento` (`documento_identidad`),
  KEY `idx_mom_trabajador_nombre` (`nombre_completo`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mom_trabajador`
--

LOCK TABLES `mom_trabajador` WRITE;
/*!40000 ALTER TABLE `mom_trabajador` DISABLE KEYS */;
/*!40000 ALTER TABLE `mom_trabajador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_asignacion_cuadrilla`
--

DROP TABLE IF EXISTS `mot_asignacion_cuadrilla`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_asignacion_cuadrilla` (
  `asignacion_id` int NOT NULL AUTO_INCREMENT,
  `cuadrilla_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `fecha_asignacion_at` datetime NOT NULL,
  `usuario_asignacion` int NOT NULL,
  `fecha_retiro_at` datetime DEFAULT NULL,
  `usuario_retiro` int DEFAULT NULL,
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`asignacion_id`),
  KEY `FK_MOT_ASIGNACION_CUADRILLA_RELATION_MOM_CUADRILLA` (`cuadrilla_id`),
  KEY `FK_MOT_ASIGNACION_CUADRILLA_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOT_ASIGNACION_CUADRILLA_RELATION_MOM_CUADRILLA` FOREIGN KEY (`cuadrilla_id`) REFERENCES `mom_cuadrilla` (`cuadrilla_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_ASIGNACION_CUADRILLA_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_asignacion_cuadrilla`
--

LOCK TABLES `mot_asignacion_cuadrilla` WRITE;
/*!40000 ALTER TABLE `mot_asignacion_cuadrilla` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_asignacion_cuadrilla` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_asignacion_cultivo_parcela`
--

DROP TABLE IF EXISTS `mot_asignacion_cultivo_parcela`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_asignacion_cultivo_parcela` (
  `asignacion_cultivo_id` int NOT NULL AUTO_INCREMENT,
  `parcela_id` int NOT NULL,
  `cultivo_id` int NOT NULL,
  `fecha_inicio_at` datetime NOT NULL,
  `temporada` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `caracteristicas_particulares` text COLLATE utf8mb4_unicode_ci,
  `fecha_fin_at` datetime DEFAULT NULL,
  `usuario_asignacion` int NOT NULL,
  `is_activa` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`asignacion_cultivo_id`),
  KEY `FK_MOT_ASIGNACION_CULTIVO_PARCELA_RELATION_MOM_CULTIVO` (`cultivo_id`),
  KEY `FK_MOT_ASIGNACION_CULTIVO_PARCELA_RELATION_MOM_PARCELA` (`parcela_id`),
  CONSTRAINT `FK_MOT_ASIGNACION_CULTIVO_PARCELA_RELATION_MOM_CULTIVO` FOREIGN KEY (`cultivo_id`) REFERENCES `mom_cultivo` (`cultivo_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_ASIGNACION_CULTIVO_PARCELA_RELATION_MOM_PARCELA` FOREIGN KEY (`parcela_id`) REFERENCES `mom_parcela` (`parcela_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_asignacion_cultivo_parcela`
--

LOCK TABLES `mot_asignacion_cultivo_parcela` WRITE;
/*!40000 ALTER TABLE `mot_asignacion_cultivo_parcela` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_asignacion_cultivo_parcela` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_asignacion_tarea`
--

DROP TABLE IF EXISTS `mot_asignacion_tarea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_asignacion_tarea` (
  `asignacion_tarea_id` int NOT NULL AUTO_INCREMENT,
  `tarea_programada_id` int NOT NULL,
  `cuadrilla_id` int DEFAULT NULL,
  `trabajador_id` int DEFAULT NULL,
  `fecha_asignacion_at` datetime NOT NULL,
  `usuario_asignacion` int NOT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`asignacion_tarea_id`),
  KEY `FK_MOT_ASIGNACION_TAREA_RELATION_MOM_CUADRILLA` (`cuadrilla_id`),
  KEY `FK_MOT_ASIGNACION_TAREA_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  KEY `FK_MOT_ASIGNACION_TAREA_RELATION_MOT_TAREA_PROGRAMADA` (`tarea_programada_id`),
  CONSTRAINT `FK_MOT_ASIGNACION_TAREA_RELATION_MOM_CUADRILLA` FOREIGN KEY (`cuadrilla_id`) REFERENCES `mom_cuadrilla` (`cuadrilla_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_ASIGNACION_TAREA_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_ASIGNACION_TAREA_RELATION_MOT_TAREA_PROGRAMADA` FOREIGN KEY (`tarea_programada_id`) REFERENCES `mot_tarea_programada` (`tarea_programada_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_asignacion_tarea`
--

LOCK TABLES `mot_asignacion_tarea` WRITE;
/*!40000 ALTER TABLE `mot_asignacion_tarea` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_asignacion_tarea` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_asistencia`
--

DROP TABLE IF EXISTS `mot_asistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_asistencia` (
  `asistencia_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `fecha_at` date NOT NULL,
  `hora_entrada_at` datetime NOT NULL,
  `ubicacion_entrada` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hora_salida_at` datetime DEFAULT NULL,
  `horas_trabajadas` decimal(5,2) DEFAULT NULL,
  `observaciones_salida` text COLLATE utf8mb4_unicode_ci,
  `estado` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'completa',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`asistencia_id`),
  KEY `idx_mot_asistencia_trabajador_fecha` (`trabajador_id`,`fecha_at`),
  CONSTRAINT `FK_MOT_ASISTENCIA_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=277 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_asistencia`
--

LOCK TABLES `mot_asistencia` WRITE;
/*!40000 ALTER TABLE `mot_asistencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_asistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_ausencia_justificada`
--

DROP TABLE IF EXISTS `mot_ausencia_justificada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_ausencia_justificada` (
  `ausencia_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `fecha_at` date NOT NULL,
  `motivo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_ausencia` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documento_respaldo_path` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_aprobacion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `usuario_registro` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`ausencia_id`),
  KEY `FK_MOT_AUSENCIA_JUSTIFICADA_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOT_AUSENCIA_JUSTIFICADA_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_ausencia_justificada`
--

LOCK TABLES `mot_ausencia_justificada` WRITE;
/*!40000 ALTER TABLE `mot_ausencia_justificada` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_ausencia_justificada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_concepto_liquidacion`
--

DROP TABLE IF EXISTS `mot_concepto_liquidacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_concepto_liquidacion` (
  `concepto_id` int NOT NULL AUTO_INCREMENT,
  `liquidacion_id` int NOT NULL,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monto` decimal(13,2) NOT NULL,
  `formula_aplicada` text COLLATE utf8mb4_unicode_ci,
  `referencia_id` int DEFAULT NULL,
  `referencia_tipo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`concepto_id`),
  KEY `FK_MOT_CONCEPTO_LIQUIDACION_RELATION_MOT_LIQUIDACION` (`liquidacion_id`),
  CONSTRAINT `FK_MOT_CONCEPTO_LIQUIDACION_RELATION_MOT_LIQUIDACION` FOREIGN KEY (`liquidacion_id`) REFERENCES `mot_liquidacion` (`liquidacion_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_concepto_liquidacion`
--

LOCK TABLES `mot_concepto_liquidacion` WRITE;
/*!40000 ALTER TABLE `mot_concepto_liquidacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_concepto_liquidacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_condiciones_trabajo`
--

DROP TABLE IF EXISTS `mot_condiciones_trabajo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_condiciones_trabajo` (
  `condicion_id` int NOT NULL AUTO_INCREMENT,
  `fecha_at` datetime NOT NULL,
  `condicion_general` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_dificultad` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `usuario_registro` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`condicion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_condiciones_trabajo`
--

LOCK TABLES `mot_condiciones_trabajo` WRITE;
/*!40000 ALTER TABLE `mot_condiciones_trabajo` DISABLE KEYS */;
INSERT INTO `mot_condiciones_trabajo` VALUES (16,'2025-12-01 00:00:00','lluvioso','dificil','abc',4,'2025-12-26 21:27:42','2025-12-26 21:27:42',4,NULL,NULL),(17,'2025-12-15 00:00:00','muy_caluroso','muy_dificil',NULL,4,'2025-12-27 01:41:24','2025-12-27 01:41:24',4,NULL,NULL),(18,'2026-01-01 00:00:00','despejado','normal',NULL,4,'2026-01-01 23:06:47','2026-01-01 23:06:47',4,NULL,NULL),(19,'2025-12-31 00:00:00','despejado','dificil','aaaaaa',4,'2026-01-01 23:06:57','2026-01-01 23:06:57',4,NULL,NULL);
/*!40000 ALTER TABLE `mot_condiciones_trabajo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_deduccion_especial`
--

DROP TABLE IF EXISTS `mot_deduccion_especial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_deduccion_especial` (
  `deduccion_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `tipo_id` int DEFAULT NULL,
  `tipo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `monto` decimal(13,2) NOT NULL,
  `es_porcentual` tinyint(1) NOT NULL DEFAULT '0',
  `base_calculo` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `periodicidad` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cuotas_totales` int DEFAULT NULL,
  `cuotas_restantes` int DEFAULT NULL,
  `fecha_inicio_at` datetime DEFAULT NULL,
  `fecha_fin_at` datetime DEFAULT NULL,
  `justificacion` text COLLATE utf8mb4_unicode_ci,
  `documento_autorizacion_path` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activa',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`deduccion_id`),
  KEY `FK_MOT_DEDUCCION_ESPECIAL_RELATION_MOM_DEDUCCION_TIPO` (`tipo_id`),
  KEY `FK_MOT_DEDUCCION_ESPECIAL_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOT_DEDUCCION_ESPECIAL_RELATION_MOM_DEDUCCION_TIPO` FOREIGN KEY (`tipo_id`) REFERENCES `mom_deduccion_especial_tipo` (`deduccion_tipo_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_DEDUCCION_ESPECIAL_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_deduccion_especial`
--

LOCK TABLES `mot_deduccion_especial` WRITE;
/*!40000 ALTER TABLE `mot_deduccion_especial` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_deduccion_especial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_info_laboral`
--

DROP TABLE IF EXISTS `mot_info_laboral`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_info_laboral` (
  `info_laboral_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `cargo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_ingreso_at` datetime NOT NULL,
  `tipo_contrato` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_nomina` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salario_bruto` decimal(13,2) DEFAULT NULL,
  `rebajas_ccss` decimal(13,2) DEFAULT NULL,
  `otras_rebajas` decimal(13,2) DEFAULT NULL,
  `salario_por_hora` decimal(13,2) DEFAULT NULL,
  `horas_ordinarias` decimal(7,2) DEFAULT NULL,
  `horas_extras` decimal(7,2) DEFAULT NULL,
  `horas_otras` decimal(7,2) DEFAULT NULL,
  `vacaciones_monto` decimal(13,2) DEFAULT NULL,
  `incapacidad_monto` decimal(13,2) DEFAULT NULL,
  `lactancia_monto` decimal(13,2) DEFAULT NULL,
  `salario_promedio` decimal(13,2) DEFAULT NULL,
  `meses_trabajados` int DEFAULT NULL,
  `area` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salario_base` decimal(13,2) NOT NULL,
  `fecha_ultima_actualizacion_at` datetime NOT NULL,
  `usuario_ultima_actualizacion` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`info_laboral_id`),
  KEY `FK_MOT_INFO_LABORAL_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOT_INFO_LABORAL_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_info_laboral`
--

LOCK TABLES `mot_info_laboral` WRITE;
/*!40000 ALTER TABLE `mot_info_laboral` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_info_laboral` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_liquidacion`
--

DROP TABLE IF EXISTS `mot_liquidacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_liquidacion` (
  `liquidacion_id` int NOT NULL AUTO_INCREMENT,
  `periodo_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `total_bruto` decimal(13,2) DEFAULT '0.00',
  `total_deducciones` decimal(13,2) DEFAULT '0.00',
  `total_neto` decimal(13,2) DEFAULT '0.00',
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'preliminar',
  `fecha_generacion_at` datetime NOT NULL,
  `usuario_generacion` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`liquidacion_id`),
  KEY `FK_MOT_LIQUIDACION_RELATION_MOM_PERIODO_NOMINA` (`periodo_id`),
  KEY `FK_MOT_LIQUIDACION_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_MOT_LIQUIDACION_RELATION_MOM_PERIODO_NOMINA` FOREIGN KEY (`periodo_id`) REFERENCES `mom_periodo_nomina` (`periodo_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_LIQUIDACION_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_liquidacion`
--

LOCK TABLES `mot_liquidacion` WRITE;
/*!40000 ALTER TABLE `mot_liquidacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_liquidacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_recibo`
--

DROP TABLE IF EXISTS `mot_recibo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_recibo` (
  `recibo_id` int NOT NULL AUTO_INCREMENT,
  `liquidacion_id` int NOT NULL,
  `codigo_identificador` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_generacion_at` datetime NOT NULL,
  `usuario_generacion` int NOT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `archivo_path` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`recibo_id`),
  UNIQUE KEY `liquidacion_id` (`liquidacion_id`),
  UNIQUE KEY `codigo_identificador` (`codigo_identificador`),
  CONSTRAINT `FK_MOT_RECIBO_RELATION_MOT_LIQUIDACION` FOREIGN KEY (`liquidacion_id`) REFERENCES `mot_liquidacion` (`liquidacion_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_recibo`
--

LOCK TABLES `mot_recibo` WRITE;
/*!40000 ALTER TABLE `mot_recibo` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_recibo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_registro_productividad`
--

DROP TABLE IF EXISTS `mot_registro_productividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_registro_productividad` (
  `productividad_id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `tarea_id` int NOT NULL,
  `cantidad_producida` decimal(13,4) DEFAULT NULL,
  `unidad_medida` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_at` datetime NOT NULL,
  `rendimiento_calculado` decimal(13,4) DEFAULT NULL,
  `condiciones_trabajo_id` int DEFAULT NULL,
  `condiciones_trabajo` text COLLATE utf8mb4_unicode_ci,
  `usuario_registro` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`productividad_id`),
  KEY `FK_MOT_REGISTRO_PRODUCTIVIDAD_RELATION_MOM_TAREA` (`tarea_id`),
  KEY `idx_mot_registro_productividad_trabajador_fecha` (`trabajador_id`,`fecha_at`),
  CONSTRAINT `FK_MOT_REGISTRO_PRODUCTIVIDAD_RELATION_MOM_TAREA` FOREIGN KEY (`tarea_id`) REFERENCES `mom_tarea` (`tarea_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_REGISTRO_PRODUCTIVIDAD_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_registro_productividad`
--

LOCK TABLES `mot_registro_productividad` WRITE;
/*!40000 ALTER TABLE `mot_registro_productividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_registro_productividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_tarea_programada`
--

DROP TABLE IF EXISTS `mot_tarea_programada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_tarea_programada` (
  `tarea_programada_id` int NOT NULL AUTO_INCREMENT,
  `tarea_id` int NOT NULL,
  `parcela_id` int NOT NULL,
  `fecha_at` datetime NOT NULL,
  `duracion_estimada` decimal(7,2) DEFAULT NULL,
  `prioridad` int DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `bonificacion_asociada` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`tarea_programada_id`),
  KEY `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_BONIFICACION` (`bonificacion_asociada`),
  KEY `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_PARCELA` (`parcela_id`),
  KEY `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_TAREA` (`tarea_id`),
  CONSTRAINT `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_BONIFICACION` FOREIGN KEY (`bonificacion_asociada`) REFERENCES `mom_bonificacion` (`bonificacion_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_PARCELA` FOREIGN KEY (`parcela_id`) REFERENCES `mom_parcela` (`parcela_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_TAREA_PROGRAMADA_RELATION_MOM_TAREA` FOREIGN KEY (`tarea_id`) REFERENCES `mom_tarea` (`tarea_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_tarea_programada`
--

LOCK TABLES `mot_tarea_programada` WRITE;
/*!40000 ALTER TABLE `mot_tarea_programada` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_tarea_programada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mot_usuario`
--

DROP TABLE IF EXISTS `mot_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mot_usuario` (
  `usuario_id` int NOT NULL AUTO_INCREMENT,
  `auth0_user_id` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `auth0_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trabajador_id` int DEFAULT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rol_id` int NOT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `auth_provider` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'local',
  `email_verified` tinyint(1) DEFAULT '0',
  `last_login_at` datetime DEFAULT NULL,
  `fecha_ultimo_cambio_rol_at` datetime DEFAULT NULL,
  `auth0_enabled` tinyint(1) DEFAULT '1',
  `local_auth_enabled` tinyint(1) DEFAULT '1',
  `last_auth_method` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failed_login_attempts` int DEFAULT '0',
  `account_locked_until` datetime DEFAULT NULL,
  `password_changed_at` datetime DEFAULT NULL,
  `password_expires_at` datetime DEFAULT NULL,
  `require_password_change` tinyint(1) DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`usuario_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `mot_usuario_auth0_user_id_key` (`auth0_user_id`),
  UNIQUE KEY `mot_usuario_auth0_id_key` (`auth0_id`),
  KEY `FK_MOT_USUARIO_RELATION_MOM_ROL` (`rol_id`),
  KEY `FK_MOT_USUARIO_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  KEY `idx_mot_usuario_email` (`email`),
  KEY `idx_mot_usuario_auth_method` (`last_auth_method`),
  CONSTRAINT `FK_MOT_USUARIO_RELATION_MOM_ROL` FOREIGN KEY (`rol_id`) REFERENCES `mom_rol` (`rol_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_MOT_USUARIO_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mot_usuario`
--

LOCK TABLES `mot_usuario` WRITE;
/*!40000 ALTER TABLE `mot_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `mot_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rel_mom_cuadrilla__mom_trabajador`
--

DROP TABLE IF EXISTS `rel_mom_cuadrilla__mom_trabajador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rel_mom_cuadrilla__mom_trabajador` (
  `cuadrilla_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `fecha_asignacion_at` datetime NOT NULL,
  `fecha_retiro_at` datetime DEFAULT NULL,
  `usuario_asignacion` int NOT NULL,
  `created_at` datetime NOT NULL,
  `created_by` int NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`cuadrilla_id`,`trabajador_id`),
  KEY `FK_REL_MOM_CUADRILLA__MOM_TRABAJADOR_RELATION_MOM_TRABAJADOR` (`trabajador_id`),
  CONSTRAINT `FK_REL_MOM_CUADRILLA__MOM_TRABAJADOR_RELATION_MOM_CUADRILLA` FOREIGN KEY (`cuadrilla_id`) REFERENCES `mom_cuadrilla` (`cuadrilla_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_REL_MOM_CUADRILLA__MOM_TRABAJADOR_RELATION_MOM_TRABAJADOR` FOREIGN KEY (`trabajador_id`) REFERENCES `mom_trabajador` (`trabajador_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rel_mom_cuadrilla__mom_trabajador`
--

LOCK TABLES `rel_mom_cuadrilla__mom_trabajador` WRITE;
/*!40000 ALTER TABLE `rel_mom_cuadrilla__mom_trabajador` DISABLE KEYS */;
INSERT INTO `rel_mom_cuadrilla__mom_trabajador` VALUES (1,1,'2025-12-23 05:06:39',NULL,4,'2025-12-23 05:06:39',4,NULL,NULL,NULL),(3,1,'2025-12-23 16:13:32',NULL,4,'2025-12-23 16:13:32',4,NULL,NULL,NULL),(3,2,'2025-12-23 16:13:32',NULL,4,'2025-12-23 16:13:32',4,NULL,NULL,NULL),(3,4,'2025-12-23 16:13:32',NULL,4,'2025-12-23 16:13:32',4,NULL,NULL,NULL);
/*!40000 ALTER TABLE `rel_mom_cuadrilla__mom_trabajador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rel_mom_parcela__mom_cultivo`
--

DROP TABLE IF EXISTS `rel_mom_parcela__mom_cultivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rel_mom_parcela__mom_cultivo` (
  `parcela_id` int NOT NULL,
  `cultivo_id` int NOT NULL,
  `fecha_inicio_at` datetime NOT NULL,
  `fecha_fin_at` datetime DEFAULT NULL,
  `usuario_asignacion` int NOT NULL,
  `created_at` datetime NOT NULL,
  `created_by` int NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`parcela_id`,`cultivo_id`),
  KEY `FK_REL_MOM_PARCELA__MOM_CULTIVO_RELATION_MOM_CULTIVO` (`cultivo_id`),
  CONSTRAINT `FK_REL_MOM_PARCELA__MOM_CULTIVO_RELATION_MOM_CULTIVO` FOREIGN KEY (`cultivo_id`) REFERENCES `mom_cultivo` (`cultivo_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_REL_MOM_PARCELA__MOM_CULTIVO_RELATION_MOM_PARCELA` FOREIGN KEY (`parcela_id`) REFERENCES `mom_parcela` (`parcela_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rel_mom_parcela__mom_cultivo`
--

LOCK TABLES `rel_mom_parcela__mom_cultivo` WRITE;
/*!40000 ALTER TABLE `rel_mom_parcela__mom_cultivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `rel_mom_parcela__mom_cultivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rel_mom_rol__mom_permiso`
--

DROP TABLE IF EXISTS `rel_mom_rol__mom_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rel_mom_rol__mom_permiso` (
  `rol_id` int NOT NULL,
  `permiso_id` int NOT NULL,
  `created_at` datetime NOT NULL,
  `created_by` int NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`rol_id`,`permiso_id`),
  KEY `FK_REL_MOM_ROL__MOM_PERMISO_RELATION_MOM_PERMISO` (`permiso_id`),
  CONSTRAINT `FK_REL_MOM_ROL__MOM_PERMISO_RELATION_MOM_PERMISO` FOREIGN KEY (`permiso_id`) REFERENCES `mom_permiso` (`permiso_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_REL_MOM_ROL__MOM_PERMISO_RELATION_MOM_ROL` FOREIGN KEY (`rol_id`) REFERENCES `mom_rol` (`rol_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rel_mom_rol__mom_permiso`
--

LOCK TABLES `rel_mom_rol__mom_permiso` WRITE;
/*!40000 ALTER TABLE `rel_mom_rol__mom_permiso` DISABLE KEYS */;
INSERT INTO `rel_mom_rol__mom_permiso` VALUES (1,1,'2025-12-21 22:10:50',1,NULL,NULL,NULL),(1,2,'2025-12-21 22:10:50',1,NULL,NULL,NULL),(1,3,'2025-12-21 22:10:50',1,NULL,NULL,NULL),(1,4,'2025-12-21 22:10:50',1,NULL,NULL,NULL),(1,5,'2025-12-21 22:10:50',1,NULL,NULL,NULL),(1,6,'2025-12-24 23:11:04',1,NULL,NULL,NULL);
/*!40000 ALTER TABLE `rel_mom_rol__mom_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rel_mom_tarea__mom_esquema_pago`
--

DROP TABLE IF EXISTS `rel_mom_tarea__mom_esquema_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rel_mom_tarea__mom_esquema_pago` (
  `tarea_id` int NOT NULL,
  `esquema_id` int NOT NULL,
  `fecha_asignacion_at` datetime NOT NULL,
  `fecha_vigencia_inicio_at` datetime DEFAULT NULL,
  `usuario_asignacion` int NOT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `created_at` datetime NOT NULL,
  `created_by` int NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`tarea_id`,`esquema_id`),
  KEY `FK_REL_MOM_TAREA__MOM_ESQUEMA_PAGO_RELATION_MOM_ESQUEMA_PAGO` (`esquema_id`),
  CONSTRAINT `FK_REL_MOM_TAREA__MOM_ESQUEMA_PAGO_RELATION_MOM_ESQUEMA_PAGO` FOREIGN KEY (`esquema_id`) REFERENCES `mom_esquema_pago` (`esquema_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `FK_REL_MOM_TAREA__MOM_ESQUEMA_PAGO_RELATION_MOM_TAREA` FOREIGN KEY (`tarea_id`) REFERENCES `mom_tarea` (`tarea_id`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rel_mom_tarea__mom_esquema_pago`
--

LOCK TABLES `rel_mom_tarea__mom_esquema_pago` WRITE;
/*!40000 ALTER TABLE `rel_mom_tarea__mom_esquema_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `rel_mom_tarea__mom_esquema_pago` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-01 17:40:20
